    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dde1e9;
}

/* *********** */
/* Estilo barra de navegacion/
/* *********** */
.barra-navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  input{
    width: 350px;
    padding: 5px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
  }
  button{
    background-color: #9a0e23;
    padding: 10px;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
  }
  button:hover{
    background-color: darkred;

  }
 
/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtColor{
    color:#ff1911;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color:#ff1911;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color:#ff1911;
}
.nav-responsivo{
    display: none;
    font-size: 25px;
 }
 /* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/kike-vega-F2qh3yjz6Jk-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio .info h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
.inicio .info p{
    margin: 20px;
    color: #797e8e;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
.opciones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.inicio .opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    margin: 0 20px;
}
/* *********** */
/* SECCION NOSOTROS */
/* *********** */
.nosotros{
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    background-color: #dde1e9;
    padding: 100px 20px;
}
.nosotros .fila{
    display: flex;
    align-items: center;
}
.nosotros .fila .col{
    width: 80%;
}
.nosotros .fila .col img{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.nosotros .fila .col .contenedor-titulo{
    display: flex;
    align-items:center
}
.nosotros .fila .col .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.nosotros .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.nosotros .fila .col .contenedor-titulo .info .frase{
    color: #ff1133;
}
.nosotros .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.nosotros .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.nosotros .fila .col .p-especial{
    font-weight: bold;

}
.nosotros hr{
    margin-bottom: 30px;
}
.nosotros .fila-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nosotros .fila-nosotros .frase{
    font-size: 18px;
    font-weight: 600;
}
.nosotros .fila-nosotros h2{
    font-size: 2.5rem;
}
.nosotros .fila-nosotros button{
    background-color: #ff1133;
    border: none;
    color: #fff;
    padding: 15px 35px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
/* ********** */
/* SERVICIOS */
/* ********** */

.servicios{
    color: #fff;
    position: relative;
}
.servicios .contenido-seccion{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/giorgio-trovato-6rlMgGzdGwM-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: 0 20px;
}
.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.servicios .contenido-seccion .fila .col{
    width: 50%;
}
.servicios .contenido-seccion .fila .col img{
    display: block;
    width: 50%;
    margin: auto;
}
.servicios .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.servicios .fila .col .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.servicios .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #ff1133;
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.servicios .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.servicios .fila .col .p-especial{
    font-weight: bold;
}
.servicios .info-servicios{
    max-width: 800px;
    margin: auto;
}
.servicios .info-servicios table{
    text-align: center;
    background-color: #fff;
    color: #1f283e;
    border-collapse: collapse;
    position: relative;
    bottom: 100px;
}
.servicios .info-servicios table td{
    padding: 30px;
    border: 1px solid #dde1e9
}
.servicios .info-servicios table td i{
    color: #ff1133;
    font-size: 2.5rem;
    margin-bottom: 20px;

}
.servicios .info-servicios h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.servicios .info-servicios p{
    line-height: 30px;
}


/*SERVICIO1*/
.inic{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/lawrence-wilcox-MCP9atiDcAk-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inic .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inic .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inic .info h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
.inic .info p{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.inic .info h1{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}
.inic .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
/*SERVICIO2*/
.ini{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/victor-freitas-WvDYdXDzkhs-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.ini .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.ini .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.ini .info h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
.ini .info p{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.ini .info h1{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}
.ini .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
/*SERVICIO3*/
.inici{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/scott-webb-U5kQvbQWoG0-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inici .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inici .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inici .info h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
.inici .info p{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.inici .info h1{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}
.inici .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
/*SERVICIO4*/
.inicio4{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/akram-huseyn-JjdGVeUzb78-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio4 .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio4 .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio4 .info h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
.inicio4 .info p{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.inicio4 .info h1{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}
.inicio4 .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
/*SERVICIO5*/
.inicio5{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/jonathan-borba-R0y_bEUjiOM-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio5 .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio5 .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio5 .info h2{
    font-size: 2rem;
    letter-spacing: 2px;
}
.inicio5 .info p{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.inicio5 .info h1{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}
.inicio5 .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
/* ********** */
/* GALERIA */
/* ********** */
.galeria{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7));
    background-size: cover;
    background-position: center center;
    padding: 75px 0;
}
.galeria .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    padding: 0px 10px;
}
.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.galeria .contenedor-titulo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.galeria  .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.galeria .contenedor-titulo .info{
    margin-left: 30px;
}
.galeria .contenedor-titulo .info .frase{
    color: #ff1133;
}
.galeria .contenedor-titulo .info h2{
    font-size: 3rem;
}
.galeria .contenedor-titulo .info p{
    margin: 20px;
    color: #d4d4d4;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    top: 30;
}
.galeria .fila{
    display: flex;
}
.galeria .fila .col img{
    width: 40%;
    display: block;
}

/* *********** */
/* ENTRENADORES */
/* *********** */
.equipo{
    max-width: 1100px;
    margin: auto;
    padding-top: 95px;
    background-color: #dde1e9;
}
.equipo .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.equipo  .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.equipo .contenedor-titulo .info{
    margin-left: 30px;
}
.equipo .contenedor-titulo .info .frase{
    color: #ff1133;
}
.equipo .contenedor-titulo .info h2{
    font-size: 3rem;
}
.equipo .fila{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.equipo .fila .col{
    width: 25%;
}
.equipo .fila .col img{
   max-height: 400px;
   display: block;
   margin: auto;
}
.equipo .fila .info{
    border: 5px solid #1f283e;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    background: linear-gradient(#ff1133, #9a0e23);
    color: #fff;
}
.equipo .fila .info p{
    margin: 10px 0;
    text-align: justify;
}
.equipo .fila .info a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}
/* *********** */
/* CONTACTO */
/* *********** */
.contacto{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/Encabezado.avif);
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;

}
.contacto .contenido-seccion{
    max-width: 800px;
    margin: auto;
}

.contacto .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contacto  .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.contacto .contenedor-titulo .info{
    margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase{
    color: #ff1133;
}
.contacto .contenedor-titulo .info h2{
    font-size: 3rem;
}
.contacto .fila{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.contacto .fila .col{
    width: 48%;
}
.contacto .fila input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
.contacto textarea{
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 200px;
}

.contacto button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: none;
    background-color: #ff1133;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.contacto .fila-datos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}
.contacto i{
    color: #ff1133;
    display: inline-block;
    margin-right: 10px;
}
/* *********** */
/* FOOTER */
/* *********** */
footer{
    background-color: #151623;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color: #797e8e;
}
footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}


 /**************REGISTRASE****************/
.container{
   width: 100%;
   height: 100vh;
   background-color: #d0d0d0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-contenedor{
    width: 100%;
    height: 70%;
    max-width: 450px;
    background-color: #2c2f35;
    padding: 40px 60px 40px;
    text-align: center;
    border-radius: 50px;
}

.form-contenedor h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    position: relative;
}

.form-contenedor h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #f12207;
    position:absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-archivo{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-heigt 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 10px;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

.input-archivo i{
    margin-left: 8px;
    margin-right: 8px;
    color: #f12207;
}

form p{
    margin: 0;
    border: 0;
    text-align: left;
    font-size: 13px;
    color: #ffffff;
}

form p a{
  
    margin-left: 10px;
}

form p a:hover{
    color: #161616;
    margin-left: 10px;
}

.btn-archivo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-archivo button{
    margin-left: 2px;
    flex-basis: 100%;
    font-size: 16px;
    background-color: #f12207;
    color: #ffffff;
    height: 39px;
    border-radius: 0;
    border: 0;
    outline:0;
    cursor: pointer;
    transition: background 1s;
}

.btn-archivo button:hover{
    flex-basis: 100%;
    font-size: 16px;
    background-color: #1f1b1b;
    color: #ffffff;
    height: 39px;
    border-radius: 0;
    border: 0;
    outline:0;
    cursor: pointer;
    transition: background 1s;
}



.input-grupo{
    height: 275px;
}


/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {s
    header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    header .redes{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color:#151623;
        z-index: 99;
    }
    nav.responsive a{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 30px;
    }
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;
    }
    .nosotros .fila .col{
        width: 100%;
        margin: auto;
    }
    .nosotros .fila .col img{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .servicios .contenido-seccion .fila{
        display: block;
    }
    .servicios .contenido-seccion .fila .col{
       width: 100%;
    }
    .comodidades .fila{
        display: block;
    }
    .comodidades .fila .col{
        width: 100%;
    }
    .comodidades .fila .col img{
        max-width: 200px;
    }

    .equipo .fila{
        display: block;
    }
    .equipo .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .equipo .fila .col img{
        max-height: 200px;
    }
    .equipo .fila .info{
        max-width: 250px;
        margin: auto;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .contacto .fila-datos{
        display: block;
    }
    .contacto .fila-datos .col{
        margin-bottom: 20px;
    }
    footer .info{
        display: block;
        text-align: center;
    }
    footer .info p{
        margin-bottom: 10px;
    }
}
/* ********** */
/* INICIO DE SESION FORMULARIO*/
/* ********** 

h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
  }


  .login {
    background:#f12207;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    background-size: 30% 11%;
    margin:0 auto ;
    max-width:430px;
    border-radius:30px;
  }
  .login-header {
    margin: 3px 5px;
    color:#131212;
    text-align:center;
    font-size: 55px;
  }
 
  .login-form {
    border:.5px solid #fff;
    background:#525353;
    border-radius:30px;
    box-shadow:0px 0px 10px #000;
    height: 30%;
  }
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#fff;
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
      padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .login input[type="text"],
  .login input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:1em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
  }
  .login-form input[type="button"] {
    height:30px;
    width: 300px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: rgb(17, 17, 17);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }
  .sign-up{
    color:#f2f2f2;
    margin-left:-40%;
    cursor:pointer;
    text-decoration:underline;
    width: fit-content;
  }
  .no-access {
    color:#E86850;
    margin:20px 0px 20px -40%;
    text-decoration:underline;
    cursor:pointer;
  }



/* ********** */
/* INICIO DE SESION PIE DE PAGINA*/
/* ********** */
.pieinicio {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #151623;
    padding: 30px 0;
    z-index: 9999;
}

.pieinicio.info {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}

.pieinicio.info p {
    color: #797e8e;
}

.pieinicio.info a {
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}

/* ********** */
/* INICIO DE SESION BARRA DE NAVEGACION*/
/* ********** */

.contenedor-header-inicio{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header-inicio header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtColor{
    color:#ff1911;
}
.contenedor-header-inicio header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header-inicio header nav a:hover{
    color:#ff1911;
}
.contenedor-header-inicio header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}

.contenedor-header-inicio  header .redes a:hover{
    color:#ff1911;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }

 a{

    text-decoration: none;
    color: #ccc;
 }

 .linkss{

    color: #ff1911;
 }

